/* * {
  margin: 0;
  padding: 0;
  box-sizing: 0;
} */

/* ProductCard Nachbauen */

:root {
  /* --- color --- */
  --background-color-DC: white;
  --background-color-body: #f2f2f2;
  --highlightBadge-color: #fecb00;
  --font-color: black;
  --link-color: #bc0000;
  /* --- font --- */
}

/* font */
@font-face {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff2)
      format("woff2"),
    url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff2)
      format("woff2"),
    url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff)
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff2)
      format("woff2"),
    url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff)
      format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

.PC-Vergleich {
  display: flex;
  justify-content: space-around;
}

.PC-body {
  background-color: #f2f2f2;
}

.PC-Vergleich {
  display: flex;
  flex-direction: row;
}

.PC-Container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  background-color: white;
  height: min-content;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  max-width: fit-content;
  min-width: 390px;
}

.PC-Content {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff2)
      format("woff2"),
    url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.imageWindow {
  height: 280px;
  overflow: scroll;
  border-radius: 6px;
}

.PC-image {
  width: 100%;
  margin-top: -20%;
  border-radius: 6px;
}

.headline {
  font-size: 30px;
  width: max-content;
  margin-bottom: 12px;
}

.PC-Content ul {
  padding-left: 20px;
  font-size: 18px;
  width: max-content;
}

.PC-Content li {
  margin-bottom: 8px;
}

.PC-price span {
  font-weight: bold;
  font-size: 48px;
}

.PC-price span.eurozeichen {
  font-size: 30px;
}

.PC-price p {
  padding-top: 0px;
  margin: 0;
  font-size: 18px;
}

.bottom-link {
  text-decoration: none;
  color: #bc0000;
}
.bottom-link:hover {
  text-decoration: underline;
}

/* --------------------------- DC DiscoveryCard --------------------------------------------------------------*/

.DC-body {
  background-color: #f2f2f2;
}

.DiscoverySection {
  justify-items: center;
}

.DC-grid {
  grid-auto-flow: column;
  justify-content: center;
  /* min-width: 568px;
  max-width: 1248px;
  min-height: 999px;
  max-height: 999px; */
  background-color: aquamarine;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 32px;
  max-width: 1248px;
  height: fit-content;
}

#item-a {
  grid-column: 1;
  grid-row: 1 / 3;
}

#item-e {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
  margin: 0px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  max-width: fit-content;
}

.DC-Container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.DC-Content {
  font-family: Vodafone;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.highlightBadge {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  background-color: #fecb00;
  width: fit-content;
  padding: 0px 12px;
  border-radius: 100px;
  margin-top: 12px;
  font-size: 18px;
}

.highlightBadge p {
  margin: 4px 0px;
}

.highlightBadge-icon {
  height: 24px;
  width: 24px;
  padding-right: 3px;
}

.DC-headline {
  font-size: 30px;
  margin-top: 12px;
  min-width: none;
  max-width: max-content;
  margin-bottom: 12px;
}

.DC-Content ul {
  padding-left: 20px;
  font-size: 18px;
  min-width: none;
  max-width: max-content;
}

.DC-Content li {
  margin-bottom: 8px;
}

.DC-price span {
  font-weight: bold;
  font-size: 48px;
}

.DC-price span.Nur {
  font-weight: bold;
  font-size: 30px;
}

.DC-price span.DC-eurozeichen {
  font-size: 30px;
}

.DC-price p {
  padding-top: 0px;
  margin: 0;
  font-size: 18px;
}

.DC-bottom-link {
  display: flex;
  align-items: center;
  width: fit-content;
}

.DC-bottom-link a {
  text-decoration: none;
  color: var(--link-color);
}
.DC-bottom-link:hover a {
  text-decoration: underline;
}

.DC-bottom-link img {
  width: 24px;
  height: 24px;
  filter: brightness(0) saturate(100%) invert(9%) sepia(92%) saturate(6327%)
    hue-rotate(7deg) brightness(95%) contrast(120%);
}

/* DC3 horizontal */

.DC-Container#DC3 {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
  margin: 0px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  max-width: fit-content;
}

.DC-imageWindow {
  display: flex;
  align-items: center;
  height: 280px;
  overflow: hidden;
  border-radius: 6px;
}

.DC-image {
  object-fit: cover;
  width: 100%;
  border-radius: 6px;
}

.DC-imageWindow#DC3 {
  overflow: hidden;
  border-radius: 6px;
}

.DC-image#DC3 {
  width: 100%;
  height: 100%;
  margin-top: 0%;
  border-radius: 6px;
}
/*
.DC-headline#DC3 {
  font-size: 30px;
  min-width: none;
  max-width: 375px;
  margin-bottom: 12px;
}

.DC-Content#DC3 ul {
  padding-left: 20px;
  font-size: 18px;
  min-width: none;
  max-width: 375px;
}

.DC-Content#DC3 li {
  margin-bottom: 8px;
}
*/

/* breakpoint */
@media (max-width: 1075px) {
  .DC-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    max-width: 568px;
  }

  #item-a,
  #item-b,
  #item-c,
  #item-d,
  #item-e {
    grid-column: 1;
    grid-row: auto;
  }

  .DC-Container#DC3 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }
  #item-e {
    flex-direction: column;
  }
  .DC-imageWindow#DC3 {
    display: flex;
    align-items: center;
    height: 280px;
    overflow: hidden;
    border-radius: 6px;
  }
}
